<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Login Page - Product Admin</title>
</head>

<body>
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div id="announcement-link" class=" tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="form-group">
            <label>
              A password reset link was sent to <b>{{pEmail}}</b>.<br>Click the link in the email to create a new password.
              If you do not receive an email within 5 minutes, please re-fresh page.
            </label>
          </div>
        </div>
       
         
      </div>
    </div>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->

</body>

</html>