<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Login Page - Product Admin</title>
</head>

<body>
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-12 mx-auto tm-login-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="tm-block-title mb-4">Forgot password</h2>
            
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
                 <div class="form-group">
                    <label>
                        Please enter your username
                    </label>
                 </div>
              <form action="/forgot-password" method="post" class="tm-login-form">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input name="username" type="text" class="form-control validate" id="username" value="" required />
                  <div id="username-feedback" class="invalid-feedback"></div>
                </div>
                {{!-- <div class="form-group mt-3">
                  <label for="email">Email</label>
                  <input name="email" type="email" class="form-control validate" id="email" value=""
                    required />
                </div> --}}
                <span id="failure-flash"> {{message}} </span>
                <div class="form-group mt-5">
                  <button id="button-submit" type="submit" class="btn btn-primary btn-block text-uppercase">
                    Submit
                  </button>
                </div>
                <div class="d-flex justify-content-center form-group mt-">
                <a href="/login" class="text-center">
                    Login
                </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <!-- https://jquery.com/download/ -->
  <script src="js/accounts/login.js"></script>

</body>

</html>