<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Login Page - Product Admin</title>
</head>

<body>
  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-12 mx-auto tm-login-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="tm-block-title mb-4">Reset your password</h2>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <form action="/reset/{{token}}/{{admin_id}}" method="post" class="tm-login-form">
                <div class="form-group">
                  <label for="password">Password</label>
                  <input name="password" type="password" class="form-control validate" id="password" value=""
                    required />
                  <div class="invalid-feedback">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="confirm-password">Confirm Password</label>
                  <input name="confirm_password" type="password" class="form-control validate" id="confirm-password" value="" required />
                  <div id="confirm-passwrd-feedback" class="invalid-feedback"></div>
                </div>
                <span id="failure-flash"> {{message}} </span>
                <div class="form-group mt-4">
                  <button id="button-submit" type="submit" class="btn btn-primary btn-block text-uppercase">
                    Change
                  </button>
                </div>
                <div class="d-flex justify-content-center form-group mt-">
                    <a href="/login" class="text-center">
                        Login
                    </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/validator.js"> </script>
    <script src="js/accounts/input-new-password.js"></script>
    <script>
        Validator({
        form: '.tm-login-form',
        errMessageSelector: '.invalid-feedback',
        rules: [
            Validator.isRequired('#password', 'Password is required'),
            Validator.minLength('#password', 6, 'Password must be at least 6 charactor' ),
            Validator.match('#confirm-password', '#password', 'Passwords do not match'),
        ]
    })
    </script>

</body>

</html>